{% extends 'base_content.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Admin Dashboard</h1>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 text-center">
      <a href="{% url 'admin_student_list' %}" class="btn btn-primary btn-lg m-2">Students</a>
      <a href="{% url 'admin_tutor_list' %}" class="btn btn-primary btn-lg m-2">Tutors</a>
      <a href="{% url 'admin_bookings_list' %}" class="btn btn-primary btn-lg m-2">Bookings</a>  
      <a href="{% url 'trigger_matching' %}" class="btn btn-primary btn-lg m-2">Match Tutors</a>
    </div>
  </div>
{% endblock %}