{% extends 'base_content.html' %}

<!-- Overrides the navbar -->
{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" href="{% url 'admin_dashboard' %}">
        Admin Portal
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if user.is_authenticated %}
        {% include 'partials/menu.html' %}
      {% endif %}
    </div>
  </nav>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{% block page_heading %}{% endblock %}</h1>
    </div>
  </div>

  <div class="row mt-3 d-flex">
    <div class="col-auto ms-auto">
      <a class="btn btn-primary btn-lg">
        {% block add_button_text %}{% endblock %}
      </a>
    </div>
  </div>

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        {% block table_headers %}
          <th>Column 1</th>
          <th>Column 2</th>
          <th>Column 3</th>
        {% endblock %}
      </tr>
    </thead>
    <tbody>
      {% block table_rows %}
        <tr>
          <td>Data 1</td>
          <td>Data 2</td>
          <td>Data 3</td>
        </tr>
      {% endblock %}
    </tbody>
  </table>
</div>

<!-- The Bootstrap Page Navigater -->
<div class="pagination justify-content-center mb-3">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="First">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&lt;</span>
        </a>
      </li>
    {% endif %}

    <li class="page-item disabled">
      <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    </li>

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&gt;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</div>
{% endblock %}
