{% extends 'base_content.html' %}

<!-- Overrides the navbar -->
{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" href="{% url 'admin_dashboard' %}">
        Task Manager
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if user.is_authenticated %}
        {% include 'partials/menu.html' %}
      {% endif %}
    </div>
  </nav>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{% block page_heading %}{% endblock %}</h1>
    </div>
  </div>

  <div class="row mt-3 d-flex">
    <div class="col-auto ms-auto">
      <a class="btn btn-primary btn-lg">
        {% block add_button_text %}{% endblock %}
      </a>
    </div>
  </div>

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        {% block table_headers %}
          <th>Column 1</th>
          <th>Column 2</th>
          <th>Column 3</th>
        {% endblock %}
      </tr>
    </thead>
    <tbody>
      {% block table_rows %}
        <tr>
          <td>Data 1</td>
          <td>Data 2</td>
          <td>Data 3</td>
        </tr>
      {% endblock %}
    </tbody>
  </table>
</div>
{% endblock %}
