{% extends 'base_content.html' %}

{% block extra_imports %}
{% load crispy_forms_tags %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="{% url 'dashboard' %}">
      Student Portal
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
      {% include 'partials/menu.html' %}
    {% endif %}
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-80 py-4">
    <div class="col-sm-4 col-md-4 p-4 border rounded shadow mt-4">
        <h1 class="text-start mb-4">Request a Lesson</h1>

        <!-- Form Container -->
        <form method="post" action="{% url 'request_lesson' %}">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary btn-block mt-3">Create Event</button>
        </form>
    </div>
</div>
{% endblock %}

