{% extends 'base_content.html' %}
{% block extra_imports %}
{% load crispy_forms_tags %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-80 py-4">
    <div class="col-sm-4 col-md-4 p-4 border rounded shadow mt-4">
        <h1 class="text-start mb-4">Request a Lesson</h1>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Create Event</button>
                <a href="{% url 'dashboard' %}" class="btn btn-secondary ms-2">Back to Dashboard</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}