{% extends 'base_content.html' %}
{% block title %}Reports Page{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Reports</h1>
    
    <p class="text-center">Generate detailed reports of your tutoring activities.</p>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Last 7 Days</h5>
                    <p>Generate a report for the last 7 days of your tutoring activities.</p>
                    <a href="{% url 'generate_report' '7days' %}" class="btn btn-primary">Generate</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Last Month</h5>
                    <p>Generate a report for the last month of your tutoring activities.</p>
                    <a href="{% url 'generate_report' 'month' %}" class="btn btn-primary">Generate</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">All Time</h5>
                    <p>Generate a report for all your tutoring activities, starting with your first lesson!</p>
                    <a href="{% url 'generate_report' 'all' %}" class="btn btn-primary">Generate</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 text-center">
        <a href="{% url 'dashboard' %}" class="btn btn-secondary">Back to Tutor Page</a>
    </div>
</div>
{% endblock %}