{% extends 'base_content.html' %}

{% block extra_imports %}
{% load crispy_forms_tags %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Sign up</h1>
      <form action="{% url 'sign_up' %}" method="post">
        {% csrf_token %}
        {{ form | crispy }}  <!-- Render the form using the crispy filter -->
        <input type="submit" value="Sign up" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}
