{% extends 'base_content.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="{% url 'student_dashboard' %}">
      Student Portal
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
      {% include 'partials/menu.html' %}
    {% endif %}
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Your Profile</h1>

  <!-- Profile Information Section -->
  <div class="row">
    <div class="col-md-6">
      <h2>Personal Information</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>First Name:</strong> {{ user.first_name }}
        </li>
        <li class="list-group-item">
          <strong>Last Name:</strong> {{ user.last_name }}
        </li>
        <li class="list-group-item">
          <strong>Email:</strong> {{ user.email }}
        </li>
        <li class="list-group-item">
          <strong>Username:</strong> {{ user.username }}
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}